/*
colori
sfondo header #4ea0ff
.text-grey: #868686;
blue #20a9e5
.bg-lightblue: #b1e5f2;
.text-white: #ffffff;
highlight: #ffff00
*/

/* header */
header{
  background: #4ea0ff url('../img/pattern.png');
  background-size: 23%;
  background-position: center;
  height: 120px;
}
header img{
  width: 300px;
  padding-top: 40px;
}

/* main */
h1{
  font-size: 50px;
}

/* utility */
.text-grey{
  color: #868686;
}
.text-blue{
color: #20a9e5;
}
.small{
  font-size: 12px;
}
.highlight{
  background-color: #ffff00;
}

/* table */
.bg-blue{
  background-color: #20a9e5;
}
.text-white{
  color: white
}
.bg-lightblue{
  background-color: #b1e5f2;
}
table{
border-spacing: 0;
}
.half{
  width: 50%;
}
.container{

}