/*
colori
sfondo header #4ea0ff
.text-grey: #868686;
blue #20a9e5
.bg-lightblue: #b1e5f2;
.text-white: #ffffff;
highlight: #ffff00
*/

/* header */
header{
  background: #4ea0ff url('../img/pattern.png');
  background-size: 23%;
  background-position: center;
  height: 120px;
}
/* img (logo) dentro header */
header img{
  width: 300px;
  padding-top: 40px;
}

/* main */
h1{
  font-size: 50px;
}

/* utility */
.text-grey{
  color: #868686;
}
.text-blue{
color: #20a9e5;
}
.small{
  font-size: 12px;
}
.highlight{
  background-color: #ffff00;
}

/* table */
.bg-blue{
  background-color: #20a9e5;
}
.text-white{
  color: white
}
.bg-lightblue{
  background-color: #b1e5f2;
}
 /* spazio fra gli elementi tabella tolto */
table{
border-spacing: 0;
}
 /* ridotto a metà ultima colonna tabella */
.half{
  width: 50%;
}

/*BONUS per centrare dare alla main class container */
.container{
  width: 80%;
  margin: 0 auto;
}
/* per le immagini nella footer, con stesse dimensioni */
.image {
  width: 311px;
  height: 208px;
  /* margin bottom per staccarle */
  margin-bottom: 20px;
  border: 1px solid black;
}
.graph {
  background-image: url('../img/graph.jpg');
}
.monitor {
  background-image: url('../img/monitor.jpg');
}
/* in alternativa si puo mettere class e id */