header {
    background-color: #4EA0FFff;
background-image: (../)
  background-size: cover;
text-align: center;
padding: 5px;
height: 200px;
}

.edit1{
  color: aqua;
}
thead {
  background-color: #20A9E5ff;
  color: white;
}
.tab1{
  background-color: #B1E5F2ff;
}
.colonna1{width: 24%;}
.colonna2{width: 24%;}
